<div class="single-product">
  <div *ngFor="let product of products">
    <div class="product-image">
      <div *ngFor="let image of product.imageList ">
        <img src="{{image.url}}" alt="#">
      </div>
      <div class="button">
        <a [routerLink]="[' /productDetail']" routerLinkActive="router-link-active" class="btn"><i
            class="lni lni-cart"></i> Add to Cart</a>
      </div>
    </div>
    <div class="product-info">
      <span class="category">Chanel</span>
      <h4 class="title">
        <a href="product-grids.html">{{product.name}}</a>
      </h4>
      <!-- <ul class="review">
      <li><i class="lni lni-star-filled"></i></li>
      <li><i class="lni lni-star-filled"></i></li>
      <li><i class="lni lni-star-filled"></i></li>
      <li><i class="lni lni-star-filled"></i></li>
      <li><i class="lni lni-star"></i></li>
      <li><span>4.0 Review(s)</span></li>
    </ul> -->
      <div class="price">
        <span>{{product.price}}</span>
      </div>
    </div>
  </div>
</div>
