<section class="trending-product section" style="margin-top: 12px;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Trending Product</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have
            suffered alteration in some form.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Product -->
        <app-product></app-product>
        <!-- End Single Product -->
      </div>
    </div>
  </div>
</section>
