.shipping-info {
    background-color: #f9f9f9;
    padding: 50px 0;
}

.shipping-info ul {
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
}

.shipping-info li {
    list-style: none;
    float: left;
    width: 25%;
    padding: 30px 40px;
    border: 1px solid #eee;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .shipping-info li {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .shipping-info li {
        width: 100%;
    }
}

.shipping-info li:hover {
    background-color: #fff;
}

.shipping-info .media-icon {
    margin-bottom: 15px;
}

.shipping-info .media-icon i {
    color: #0167F3;
    font-size: 35px;
}

.shipping-info .media-body {
    padding-bottom: 0px;
}

.shipping-info .media-body h5 {
    font-size: 15px;
    margin: 0px;
    font-weight: 600;
    color: #081828;
}

.shipping-info .media-body span {
    font-size: 13px;
    margin-top: 2px;
    color: #777;
}
